.title {
    margin: 0;
    padding: 2rem 1rem 0;
    display: flex;
    gap: 1rem;
    list-style: none;
    flex-wrap: wrap;
    line-height: 2rem;
  }
  
  .titleActive {
    position: relative;
  }

  .titleActive:before {
    content: "";
    background: #3d7a65;
    position: absolute;
    width: 50%;
    height: 4px;
    bottom: -5px;
    left: 0;
  }
  