.listContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(calc((100% - 4rem) / 4), 1fr));
  gap: 2rem 1.5rem;
  padding: 1rem;
  max-width: 1280px;
  margin: 2rem auto 0;
}

@media (max-width: 768px) { 
  .listContainer {
    grid-template-columns: repeat(3, minmax(calc((100% - 3rem) / 3), 1fr));
  }
 }

 @media (max-width: 425px) { 
   .listContainer {
    grid-template-columns: repeat(1, minmax(calc((100% - 1rem) / 1), 1fr));
    gap: 2rem 0;
   }
  }