.layout {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  width: calc(100% - 2rem);
}

.img {
  width: 100%;
  height: 320px;
 object-fit: cover;
}

.navigationArrow {
  position: absolute;
  top: 45%;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 2rem);
} 

.navigationContainerBtn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 2.5rem;
}

.navigationBtn{
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  display: inline-block;
  border-radius: 8px;
}

.miniature {
  list-style: none;
  padding: 0;
  display: flex;
  overflow: auto;
  max-width: 1280px;
  margin: 1.5rem auto;
  width: calc(100% - 2rem);
}

.miniature > li {
  margin-right: 1rem;
}

.slider {
  margin: 0 1rem;
}


